body{
    background-color: lightblue;
}

     h1 {
        color: rgb(83, 8, 242);
        font-size: 50px;
        font-family: 'Franklin Gothic Medium';
        text-align: center;
      }
      h2 {
        color: rgb(0, 250, 233);
        font-size: 50px;
        font-family: Georgia, Times;
        text-align: left;
      }
