header {
      font-family: sans-serif;
      background-color: white;
    }

body{
    /* background-color:rgb(157, 217, 246); */
    background-color: #c6fdad;
    color: #000000;
}

     h1 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: 'Franklin Gothic Medium';
        text-align: center;
      }
      h2 {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: Georgia, Times;
        text-align: center;
      }


