body{
    background-color: lightblue;
}

     h1 {
        color: rgb(55, 81, 157);
        font-size: 50px;
        font-family: 'Franklin Gothic Medium';
        text-align: center;
      }
      h2 {
        color: rgb(55, 81, 157);
        font-size: 50px;
        font-family: Georgia, Times;
        text-align: center;
      }
